@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";

html {
    font-size: 125%;
    // font-family: $primary-font;
}

body {
    background-image: url(../assets/bg.png);
    background-size: cover;
    height: 100vh;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  .mainContainer {
    @include flex(center, center, column);
    height: 100vh;
  }
}

.formContainer {
    @include flex(center, center, column);
    text-align: center;
    .collectiveTextBox {
        @include flex(null, null, column);
    }
}


.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.playAgain {
    display: none;
}


