@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";

html {
    font-size: 125%;
    // font-family: $primary-font;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid blue;
  .mainContainer {
    @include flex(center, center, column);
    height: 100vh;
  }
}

.formContainer {
    @include flex(center, center, column);
    border: 1px solid black;
    text-align: center;
    .collectiveTextBox {
        @include flex(null, null, column);
    }
  }



.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.playAgain {
    display: none;
}

