@import "partials/_setup.scss";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";

html {
    font-size: 125%;
    font-family: $base-font;
}

.originalBackground {
    background-image: url(../assets/bg6.png);
    background-size: cover;
    height: 100vh;
 }

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  .mainContainer {
    @include flex(center, center, column);
    height: 100vh;
    .backgroundContainer {
        background-color: rgba(255, 255, 255, 0.6);
        // border: 3px solid grey;
        text-align: center;
        padding: 3%;
    }
  }
}


h1 {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 600;
    text-shadow: 10px 5px white;
    letter-spacing: 4px;
    margin-top: 1%;
}

.formContainer {
    @include flex(center, center, column);
    text-align: center;
    padding-top: 3%;
    .collectiveTextBox {
        @include flex(null, null, column);
    }
}


.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.playAgain {
    display: none;
}

#instructionContainer {
    width: 75%;
    font-size: 1.3rem;
    margin: 0 auto;
    font-weight: 400;
    font-family: 'Zilla Slab Highlight';
}

.fact {
    font-family: 'Montserrat';
    margin-bottom: 0;
}
.animalText {
    font-weight: 700;
}

.collectiveText{
    font-family: 'Zilla Slab Highlight';
    font-size: 1.5rem;
}

#instruction {
    color: black;
    padding: 1px;
    margin-bottom: 0;
}
