article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif; }

:hover {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

.originalBackground {
  background-image: url(../assets/bg6.png);
  background-size: cover;
  height: 100vh; }

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto; }
  .wrapper .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh; }
    .wrapper .mainContainer .backgroundContainer {
      background-color: rgba(255, 255, 255, 0.6);
      text-align: center;
      padding: 3%; }

h1 {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 600;
  text-shadow: 10px 5px white;
  letter-spacing: 4px;
  margin-top: 1%; }

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-top: 4%; }
  .formContainer .collectiveTextBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5%; }
    .formContainer .collectiveTextBox .textBox {
      text-align: center;
      height: 50px;
      border: 1.5px dotted black;
      margin-bottom: 1%; }

main {
  width: 100%; }

form {
  width: 40%; }

.btn {
  padding: 1% 3%;
  background-color: white;
  border: 1.5px solid black;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 3px 3px grey;
  box-shadow: 3px 3px grey;
  font-weight: 600; }
  .btn:hover {
    letter-spacing: 2.5px;
    -webkit-box-shadow: 5px 5px lightsteelblue;
    box-shadow: 5px 5px lightsteelblue;
    border: none; }
  .btn:active {
    -webkit-box-shadow: 2px 2px lightsteelblue;
    box-shadow: 2px 2px lightsteelblue;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }

.randomContainer {
  margin-top: 12%; }
  .randomContainer p {
    margin-bottom: 2%;
    text-shadow: 3px 3px white;
    font-weight: 700; }

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.playAgain {
  display: none; }

#instructionContainer {
  width: 75%;
  font-size: 1.3rem;
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Zilla Slab Highlight'; }

.fact {
  font-family: 'Montserrat';
  margin-bottom: 0; }

.animalText {
  font-weight: 700; }

.collectiveText {
  font-family: 'Zilla Slab Highlight';
  font-size: 1.5rem; }

#instruction {
  color: black;
  padding: 1px;
  margin-bottom: 0; }
